html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: 'OpenSans';
  src: local('OpenSans-Regular'),
    url('../fonts/OpenSansRegular.woff2') format('woff2'),
    url('../fonts/OpenSansRegular.woff') format('woff');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: local('OpenSans-Light'),
    url('../fonts/OpenSansLight.woff2') format('woff2'),
    url('../fonts/OpenSansLight.woff') format('woff');
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: local('OpenSans-SemiBold'),
    url('../fonts/OpenSansSemiBold.woff2') format('woff2'),
    url('../fonts/OpenSansSemiBold.woff') format('woff');
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}

body {
  min-width: 1200px;
  font-family: "OpenSans", sans-serif;
  font-weight: 400;
}

/* glob */
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn {
  position: relative;
	outline: none;
  border-radius: 3px;
  padding: 16px 35px;
  font-family: inherit;
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
  color: #fff;
  background-color: #3172b9;
  transition: background-color 0.3s ease-in-out;
}

.btn::after {
  content: "";
  position: absolute;
  left: -3px;
  top: -3px;
  right: -3px;
  bottom: -3px;
  border-radius: inherit;
  border: 1px solid #3172b9;
  opacity: 0;
  outline: none;
  transition: opacity 0.3s ease-in-out;
}

.btn:focus::after {
  opacity: 1;
}

.btn:hover {
  background-color: #71a7e2;
}

.btn:active {
  background-color: #0e3b6c;
}

.btn:active::after {
  opacity: 0;
}

.flex {
  display: flex;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section-title {
  margin: 0;
  margin-bottom: 40px;
  font-weight: 300;
  font-size: 36px;
  line-height: 130%;
  color: #1c1c1c;
}

.section-descr {
  margin: 0;
  margin-bottom: 50px;
  font-size: 16px;
  color: #787878;
}

.section-offset {
  padding-top: 87px;
  padding-bottom: 160px;
}

/* header */
.header {
  border-bottom: 1px solid #c4c4c4;
  padding: 36px 0;
  background-color: #fff;
}

.header__container {
  align-items: center;
}

.header__logo {
  margin-right: auto;
}

.header__nav {
  margin-right: 52px;
}

.nav__item:not(:last-child) {
  margin-right: 52px;
}

.nav__link {
  position: relative;
  font-weight: 600;
  font-size: 15px;
  color: #1c1c1c;
  transition: color 0.3s ease-in-out;
}

.nav__link:focus {
  outline-offset: 2px;
  outline: 1px solid #71a7e2;
}

.nav__link:hover {
  color: #71a7e2;
}

.nav__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #3474ba;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.nav__link:active {
  outline: none;
}

.nav__link:active::after {
  opacity: 1;
}

/* hero */
.hero {
  padding-top: 100px;
  padding-bottom: 150px;
  background-image: url("../img/hero-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero__content {
  width: 50%;
  flex-direction: column;
  align-items: flex-start;
}

.hero__title {
  margin: 0;
  margin-bottom: 25px;
  font-weight: 300;
  font-size: 40px;
  line-height: 130%;
}

.hero__descr {
  margin: 0;
  margin-bottom: 34px;
  font-size: 16px;
  line-height: 155%;
  color: #787878;
}

.hero__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__btn {
  margin-bottom: 14px;
  min-width: 250px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.hero__secure {
  padding-left: 30px;
  font-size: 11px;
  line-height: 155%;
  text-transform: uppercase;
  color: #787878;
  background-image: url("../img/secure.svg");
  background-position: left center;
  background-size: 14px 17px;
  background-repeat: no-repeat;
}

/* services */
.services {
  border-bottom: 1px solid #c4c4c4;
}

.services-title {
  text-align: center;
}

.services-descr {
  text-align: center;
}

.services-item {
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  flex-direction: column;
  align-items: center;
  padding: 60px 30px;
  width: 270px;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.services-item:not(:nth-child(4n)) {
  margin-right: 30px;
}

.services-item-icon {
  fill: #3172b9;
  margin-bottom: 25px;
  transition: fill 0.3s ease-in-out;
}

.services-item-title {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  color: #1c1c1c;
  transition: color 0.3s ease-in-out;
}

.services-item-descr {
  margin: 0;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: #787878;
  transition: color 0.3s ease-in-out;
}

.services-item:hover {
  border-color: #3172b9;
  background-color: #3172b9;
}

.services-item:hover .services-item-title {
  color: #fff;
}

.services-item:hover .services-item-descr {
  color: #fff;
}

.services-item:hover .services-item-icon {
  fill: #fff;
}

/* articles */
.articles {
  border-bottom: 1px solid #c4c4c4;
}

.articles-list {
  flex-wrap: wrap;
}

.articles-item {
  margin-bottom: 30px;
  width: 570px;
}

.articles-item:not(:nth-child(2n)) {
  margin-right: 30px;
}

.blog-preview {
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid #e4e4e4;
}

.blog-preview-image {
  object-fit: cover;
}

.blog-preview-text {
  padding: 30px;
}

.blog-preview-time {
  display: block;
  margin-bottom: 5px;
  font-size: 10px;
  line-height: 150%;
  color: #787878;
  transition: color 0.3s ease-in-out;
}

.blog-preview-title {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  color: #1c1c1c;
  transition: color 0.3s ease-in-out;
}

.blog-preview-descr {
  margin: 0;
  max-width: 210px;
  font-size: 14px;
  line-height: 150%;
  color: #787878;
  transition: color 0.3s ease-in-out;
}

.blog-preview-link {
  position: relative;
  display: flex;
  width: 100%;
  transition: background-color 0.3s ease-in-out;
}

.blog-preview-link:focus {
  background-color: #3172b9;
}

.blog-preview-link:focus .blog-preview-time {
  color: #fff;
}

.blog-preview-link:focus .blog-preview-title {
  color: #fff;
}

.blog-preview-link:focus .blog-preview-descr {
  color: #fff;
}

.blog-preview-link:hover {
  background-color: #3172b9;
}

.blog-preview-link:hover .blog-preview-time {
  color: #fff;
}

.blog-preview-link:hover .blog-preview-title {
  color: #fff;
}

.blog-preview-link:hover .blog-preview-descr {
  color: #fff;
}

.blog-preview-link:active {
  background-color: #0e3b6c;
}

.blog-preview-link:active .blog-preview-time {
  color: #fff;
}

.blog-preview-link:active .blog-preview-title {
  color: #fff;
}

.blog-preview-link:active .blog-preview-descr {
  color: #fff;
}

/* clients */
.clients {
  border-bottom: 1px solid #c4c4c4;
}

.clients-item {
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  padding: 50px 36px;
  padding-bottom: 30px;
  width: 370px;
}

.clients-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.clients-item-descr {
  margin: 0;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 180%;
  color: #787878;
}

.clients-user {
  margin-top: auto;
  align-items: center;
  border-top: 1px solid #dadada;
  padding-top: 28px;
  width: 100%;
}

.clients-avatar {
  flex-shrink: 0;
  margin-right: 17px;
  width: 67px;
}

.clients-avatar img {
  border: 3px solid #3172B9;
  border-radius: 100%;
  width: 100%;
  height: 100%;
}

.clients-name {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 17px;
  line-height: 180%;
  color: #1c1c1c;
}

.clients-post {
  font-size: 14px;
  line-height: 1;
  color: #787878;
}

/* contacts */
.contacts {
  border-bottom: 1px solid #c4c4c4;
}

.contacts-address {
  font-style: normal;
}

.contacts-item {
  flex-direction: column;
  align-items: flex-start;
  padding-top: 48px;
  width: 370px;
  background-position: left top;
  background-size: 29px 29px;
  background-repeat: no-repeat;
}

.contacts-item-address {
  background-image: url("../img/location.svg");
}

.contacts-item-call {
  background-image: url("../img/call.svg");
}

.contacts-item-mail {
  background-image: url("../img/email.svg");
}

.contacts-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.contacts-item-caption {
  margin-bottom: 30px;
  font-size: 17px;
  line-height: 180%;
  color: #1c1c1c;
}

.contacts-item-text {
  margin: 0;
  max-width: 215px;
  font-size: 14px;
  line-height: 180%;
  color: #787878;
}

.contacts-item-link {
  display: inline-block;
  font-size: 14px;
  line-height: 180%;
  color: #787878;
  transition: color 0.3s ease-in-out;
}

.contacts-item-link:focus {
  outline: 1px #71a7e2 solid;
}

.contacts-item-link:hover {
  color: #71a7e2;
}

.contacts-item-link:active {
  outline: none;
  color: #0e3b6c;
}


/* join us */
.join-us {
  border-bottom: 1px solid #c4c4c4;
}

.join-us-title {
  text-align: center;
}

.join-us-descr {
  margin-bottom: 60px;
  text-align: center;
}

.form {
  display: flex;
  flex-wrap: wrap;
  padding: 0 58px;
}

.form-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 19px;
}

.form-bottom {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.form-check {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: hsl(0, 0%, 47%);
  user-select: none;
}

.form-check input {
  margin-right: 8px;
}

.form-check a {
  color: #3172b9;
  border-bottom: 1px solid #3172b9;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-left {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 49%;
}

.form-right {
  width: 49%;
}

.form-input {
  border: 1px solid #dadada;
  border-radius: 100px;
  padding-left: 28px;
  width: 251px;
  height: 60px;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.form-input:nth-child(-n+2) {
  margin-bottom: 19px;
}

.form-input:focus {
  outline: none;
  border-color: #71a7e2;
  background-color: rgba(113, 167, 226, 0.2);
}

.form-input:hover {
  border-color: #71a7e2;
}

.form-input:active {
  border-color: #0e3b6c;
}

.form-select {
  border: 1px solid #dadada;
  border-radius: 100px;
  padding-left: 28px;
  padding-right: 28px;
  width: 251px;
  height: 60px;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.form-select:focus {
  outline: none;
  border-color: #71a7e2;
  background-color: rgba(113, 167, 226, 0.2);
}

.form-select:hover {
  border-color: #71a7e2;
}

.form-select:active {
  border-color: #0e3b6c;
}

.form-textarea {
  width: 100%;
  height: 100%;
  min-height: 130px;
  resize: none;
  border: 1px solid #dadada;
  border-radius: 20px;
  padding: 15px 28px;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.form-textarea:focus {
  outline: none;
  border-color: #71a7e2;
  background-color: rgba(113, 167, 226, 0.2);
}

.form-textarea:hover {
  border-color: #71a7e2;
}

.form-textarea:active {
  border-color: #0e3b6c;
}

.form-btn {
  margin-bottom: 9px;
  border-radius: 100px;
  min-width: 230px;
  padding-top: 22px;
  padding-bottom: 22px;
}

/* footer */
.footer {
  padding: 42px 0;
}

.footer-container {
  align-items: center;
  justify-content: space-between;
}

.footer-left,
.footer-right {
  align-items: center;
}

.footer-logo {
  margin-right: 25px;
}

.footer__nav {
  margin-right: 56px;
}

.footer__nav .nav__item:not(:last-child) {
  margin-right: 28px;
}

.footer-copy {
  font-size: 12px;
  color: #787878;
}

.footer__nav .nav__link {
  font-size: 12px;
  color: #787878;
}

.social {
  align-items: center;
}

.social-item:not(:last-child) {
  margin-right: 32px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}

.social-link svg {
  fill: #000;
  transition: fill 0.3s ease-in-out, stroke 0.3s ease-in-out;
}

.social-link.social-link-mail svg {
  fill: transparent;
  stroke: #000;
}

.social-link:focus {
  outline-offset: 2px;
  outline: 1px solid #71a7e2;
}

.social-link:hover svg {
  fill: #71a7e2;
}

.social-link.social-link-mail:hover svg {
  fill: transparent;
  stroke: #71a7e2;
}

.social-link:active svg {
  fill: #3172b9;
}

.social-link.social-link-mail:active svg {
  fill: transparent;
  stroke: #3172b9;
}

